#landing  {
    background-image: linear-gradient(to top, #A555C9, #EE53AC, #FF6C87, #FF9967);
   
}
h1{
    text-align: center;
}
 h3 {
    text-align: center;
 }
 footer {
    background-color: lightgrey;
    text-align: center;
 }

 h2 {
    text-align: center;
 }